@{
    ViewData["Title"] = "Home Page";
}

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" data-footer="true" data-scrollspy="true">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Acorn Admin Template | List Plugin</title>
    <meta name="description"
          content="Tiny, invisible and simple, yet powerful and incredibly fast vanilla JavaScript that adds search, sort, filters and flexibility to plain HTML lists, tables, or anything." />
    <!-- Favicon Tags Start -->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="../img/favicon/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../img/favicon/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../img/favicon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../img/favicon/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="../img/favicon/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="../img/favicon/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="../img/favicon/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="../img/favicon/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="../img/favicon/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="../img/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="../img/favicon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="../img/favicon/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="../img/favicon/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="&nbsp;" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="../img/favicon/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="../img/favicon/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="../img/favicon/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="../img/favicon/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="../img/favicon/mstile-310x310.png" />
    <!-- Favicon Tags End -->
    <!-- Font Tags Start -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="../font/CS-Interface/style.css" />
    <!-- Font Tags End -->
    <!-- Vendor Styles Start -->
    <link rel="stylesheet" href="../css/vendor/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/vendor/OverlayScrollbars.min.css" />

    <!-- Vendor Styles End -->
    <!-- Template Base Styles Start -->
    <link rel="stylesheet" href="../css/styles.css" />
    <!-- Template Base Styles End -->

    <link rel="stylesheet" href="../css/main.css" />
    <script src="../js/base/loader.js"></script>
</head>

<body>
    <div id="root">
        <main style="padding-top: 5vh;">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <!-- Adding via JavaScript Start -->
                            <div class="col-12 mb-5">
                                <section class="scroll-section" id="addingViaJavaScript">
                                    <div id="addingViaJS">
                                        <div class="search-input-container shadow rounded-md bg-foreground mb-2">
                                            <input class="form-control search" type="text" autocomplete="off" placeholder="Search" />
                                            <span class="search-magnifier-icon">
                                                <i data-cs-icon="search"></i>
                                            </span>
                                        </div>
                                        <div class="list"></div>
                                    </div>
                                    <!-- A template element is needed when list is empty -->
                                    <div class="d-none">
                                        <div class="card mb-2" id="addingViaJSlItemTemplate">
                                            <a class="row g-0 sh-9 id" onClick="salvarRegistro(this.id)">
                                                <div class="col-auto">
                                                    <img src="../img/product/small/product-8.webp" alt="alternate text" class="card-img card-img-horizontal sw-11 image" />
                                                </div>
                                                <div class="col d-flex align-items-center">
                                                    <div class="card-body py-0">
                                                        <div class="d-flex flex-column justify-content-center">
                                                            <div class="name">Samoon</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <!-- Adding via JavaScript End -->
                        </div>
                        <!-- Content End -->
                    </div>
                </div>
            </div>
        </main>
    </div>
    <!-- Vendor Scripts Start -->
    <script src="../js/vendor/jquery-3.5.1.min.js"></script>
    <script src="../js/vendor/bootstrap.bundle.min.js"></script>
    <script src="../js/vendor/OverlayScrollbars.min.js"></script>
    <script src="../js/vendor/autoComplete.min.js"></script>
    <script src="../js/vendor/clamp.min.js"></script>
    <script src="../js/cs/scrollspy.js"></script>
    <script src="../js/vendor/list.js"></script>
    <!-- Vendor Scripts End -->
    <!-- Template Base Scripts Start -->
    <script src="../font/CS-Line/csicons.min.js"></script>
    <script src="../js/base/helpers.js"></script>
    <script src="../js/base/globals.js"></script>
    <script src="../js/base/nav.js"></script>
    <script src="../js/base/search.js"></script>
    <script src="../js/base/settings.js"></script>
    <script src="../js/base/init.js"></script>
    <!-- Template Base Scripts End -->
    <!-- Page Specific Scripts Start -->
    <script src="../js/plugins/lists.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/scripts.js"></script>
    <!-- Page Specific Scripts End -->
    <script>

        function salvarRegistro(clicked_id) {
            window.location.replace('CompleteSignSubCategoria?idCategoria=' + clicked_id);
        }
    </script>
</body>
</html>
