/* This file is reserved for overriding and extending the template styles. */

/*Barra de scroll*/
*::-webkit-scrollbar-track {
    background-color: var(--background);
}

*::-webkit-scrollbar {
    width: 2px;
    background: var(--primary);
}

*::-webkit-scrollbar-thumb {
    background: var(--primary);
}